<div class="row">

<% obj.each do |r| %>

<div class="col-md-4 mt-2 "  >

<div class="row">
   <div class="col-xs-2 mr-3 mt-2">
      <%= gravatar_for(r.chef, {size:35}) %>
   </div>
    <div class="col-xs-10 card card-inverse" style="background-color: #eff0f1; border-color: #eff0f1;">
      <div class="card-block">
            <h4 class="card-title"><small><%= link_to r.recettenom, recette_path(r) %></small>  </h4>
      </div>

      <div class="card-text">

        <%#= simple_format((truncate r.description, lenght:200),class: 'mb-0') %> 
        <%= simple_format(r.recettedesc.truncate(30),class: 'mb-0') %>
        <span class="quiet"><small class="text-muted">  Créer depuis <%= time_ago_in_words r.created_at %> par
                <%= r.chef.chefnom.capitalize %> | 
              <%= pluralize(r.commentaires.count, 'commentaire')%>  </small></span>
      </div>
      <div class="text-muted mt-0">
              
      </div>
    </div>
</div>

</div>
<%end%>

</div>

