<h1 align="center">Linsting des Recettes</h1>
<hr>



<div class="card-deck text-center">
<% @recettes.each do |r| %>
	
  <div class="card card-outline-warning">
  	<div class="card-header">
    <%= r.id %>
  </div>
    <div class="card-block">
      
          
          
            <h4 class="card-title"><%= link_to r.nomR7, recette_path(r) %></h4>
            <p class="card-text"><%= truncate r.description, lenght:150%></p>
          
          
    </div>
    <div class="card-footer text-center">
      <small class="text-muted">Créer depuis <%= time_ago_in_words r.created_at %>
        Par : <%= r.chef.nomChef.upcase %>    <%= gravatar_for(r.chef, {size:40}) %>
      </small>
    </div>
  </div>		
<%end%>
</div>