<%= render 'partage/titre',titre:"Détails de la recette" %>



<div class="container ">
  <div class="row justify-content-center">
	<div class="col-8">
	
		<%= render 'actions' %>	
	

		<%= render 'recette2' %>

		<%#= render 'commentaires/commentaires'  %>
<% if @commentaires.size != 0 %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Prior commentaires: </h3>
        <div id="messages">
          <%= render 'commentaires/commentaires', commentaires: @commentaires %>
        </div>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>No commentaires Yet!</h3>
    </div>
  </div>

<% end %>


		<%= render 'liste' %>

	</div>


  </div>


<% if logged_in? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Comments: </h3>
      <hr />
      <%= form_for([@recette, @commentaire], :html => {class: "form-horizontal", 
                                                role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description, "Commentaire" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :commentairetexte, rows: 8, class: "form-control", 
                                      placeholder: "Enter Comment Here" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "Submit Comment", 
                              class: "btn btn-primary btn-lg btn-xlarge" %>
          </div>
        </div>
      <% end %>
      <hr />
    </div>
  </div>
<% end %>


</div>		
