<%= render 'partage/titre',titre:"Détails de la recette" %>



<div class="container ">
  <div class="row justify-content-center">
	<div class="col-8">
	
		<%= render 'actions' %>	
	

		<%= render 'recette2' %>

		<%#= render 'commentaires/commentaires'  %>
  
   <%= render 'commentaires' %>


		<%= render 'liste' %>

	</div>
  </div>


  <% if logged_in? %>

  <%= render 'formulaire_commentaire' %>

  <% end %>


</div>		
