<p id="notice"><%= notice %></p>

<div class="row">
<%= render 'partage/titre',titre:"Listing des ingredients" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="align-middle">Nom ingrédient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td class="align-middle"><%= ingredient.ingredientnom %></td>
        <td class="align-middle"><%= link_to 'Voir', ingredient %></td>
      <% if logged_in? && current_chef.admin? %>
        <td class="align-middle"><%= link_to 'Editer', edit_ingredient_path(ingredient) %></td>
        <td class="align-middle"><%= link_to 'Supprimer', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
