<p id="notice"><%= notice %></p>

<p>
  <strong>Desc com:</strong>
  <%= @commentaire.desc_com %>
</p>

<p>
  <strong>Chef:</strong>
  <%= @commentaire.chef %>
</p>

<p>
  <strong>Recette:</strong>
  <%= @commentaire.recette %>
</p>

<%= link_to 'Edit', edit_commentaire_path(@commentaire) %> |
<%= link_to 'Back', commentaires_path %>
